$text-size: 14px;
$border-color: #808080;
$text-color: #555;

.image-caption {
    font-family: Helvetica;
    font-size: $text-size;
    color: $text-color;
    margin-top: 5px;
    margin-left: 6px;
    padding-left: 5px;
    border-left: 2px solid $border-color;
}
